.card-slide-enter-active {
  transition: all .3s ease;
}
.card-slide-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.card-slide-enter, .card-slide-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

// 自定义字体
@font-face {
    font-family: "GlowSansSC";
    src:url('static/font/GlowSansSC-Normal-Heavy.otf');
	font-weight: bold;
}
@font-face {
    font-family: "GlowSansSC";
    src:url('static/font/GlowSansSC-Normal-Regular.otf');
	font-weight: normal;
}

body{
    font-family: "GlowSansSC";
}