
// 自定义字体
@font-face {
    font-family: "GlowSansSC";
    src:url('static/font/GlowSansSC-Normal-Heavy.otf');
	font-weight: bold;
}
@font-face {
    font-family: "GlowSansSC";
    src:url('static/font/GlowSansSC-Normal-Regular.otf');
	font-weight: normal;
}

body{
    font-family: "GlowSansSC";
}